<div class="app">
  <h1>Вход</h1>
  <div class="startPage">
    {{> Input id="login" type="text" placeholder="Логин" }}
    {{> Input id="question-input" type="text" placeholder="Пароль" }}
    {{> Button id="signIn" text="Авторизоваться"}}
    {{> Button id="registration" text="Нет аккаунта?"}}
  </div>
</div>
