<div class="app">
  <h1>Вход</h1>
  <div class="startPage">
    {{> Label forAttr="login" text="Логин" }}
    {{> Input id="login" type="text" placeholder="Логин" value= loginValue}}
    {{#unless loginValue}}
    {{> ErrorMessage message="Поле обязательно для заполнения" }}  
    {{/unless}}
    
    {{> Label forAttr="password" text="Пароль" }}
    {{> Input id="password" type="text" placeholder="Пароль" value= passwordValue }}
    {{#unless passwordValue}}
    {{> ErrorMessage message="Поле обязательно для заполнения" }}  
    {{/unless}}
  </div>
    {{> Button id="signIn" text="Авторизоваться"}}
    {{> Footer data-page="registrationPage" textFooter="Нет аккаунта?"}}
</div>
