:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --background-color: #f4f4f4;
  --text-color: #333;
  --error-color: #e74c3c;
}

.body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.app {
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px var(--secondary-color);
}

h1,
h2,
h3 {
  color: var(--secondary-color);
}

.input,
.select,
.button {
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color-mix(in srgb, var(--primary-color) 80%, black);
  }

  &:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
}

.mini-button {
  background-color: var(--primary-color);
  height: 40px
  width: 90px;
  }

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin: 10px 0;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 5px rgb(0 0 0 /10%);
}

.error {
  color: var(--error-color);
  font-weight: bold;
}

.footer {
  margin-top: 20px;
  border-top: 1px solid var(--secondary-color);
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.footer-link {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
