<div class="app">
  <h1>Основная</h1>
  <aside class="commonPage">
    {{> Label forAttr="email" text="TST" }}
    {{> Input id="email" type="text" }}
    {{> Button id="returnToStartPage" text="Войти"}}    
  </aside>
</div>
