<div class="page-layout">
  <aside class="leftBox">
    <div  class="profile-link-container">
      {{> Link href="#" class="footer-link profileLink" data-page ="profilePage" text ="Профиль >"}}
    </div>
    <nav>
    {{> Label forAttr="search" text="Поиск" }}
    {{> Input id="search" type="text"  class="input"}}
    </nav>
    <main class="gridCommonPage">
      {{#if contactLists.length}}
      <ul>
        {{#each contactLists}}
          <li class="gridElementCommonPage">{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
    </main>
  </aside>
  <main>
    <section class="messageElements">
    {{> Label forAttr="message" text="Отправка сообщения" }}
      <div class="messageContainer">
        {{> Input id="message" type="text" class="input"}}
        {{> Button id="sendMessage" class="miniButton" text="Отправить"}}
      </div>
    </section>
  </main>
</div>
