.page-layout {
  display: flex;
  min-height: 100vh;
}

.leftBox {
  background: var(--background-color);
  box-shadow: 2px 0 5px var(--secondary-color);
  box-sizing: border-box;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 1000;
}

.profileLink {
  font-size: 18px;
  margin-left: 140px;
}

.messageElements {
  background: var(--background-color);
  bottom: 0;
  left: 300px;
  padding: 15px;
  position: fixed;
  width: calc(100% - 320px);
}

.messageContainer {
  align-items: center;
  display: flex;
  gap: 8px;
}

.right-content { 
  margin-left: 300px; 
  min-height: 100vh;
  padding: 20px;
  position: relative;
  width: calc(100% - 300px);
}

.miniImg {
  border-radius: 50%; 
  height: 50px; 
  object-fit: cover;
  width: 50px;     
}

.contactTextType {
  font-size: 1rem;
  font-weight: bold;
}

.contactTextMessageType {
  font-size: 0.8rem;
  font-weight: bold;
}

.lineBreak {
  border-top: 2px solid #000;
}

.round-img_Common {
  border-radius: 50%; 
  height: 75px;  
  object-fit: cover;   
  width: 75px;   
}

figure {
    display: block; 
    margin: 0; 
    padding: 0; 
}
