<div class="app">
  <h1>Регистрация</h1>
  <div class="registrationPage">
    {{> Label forAttr="email" text="Почта" }}
    {{> Input id="email" type="text" }}
  </div>
    {{> Footer text="Войти"}}
</div>
