<div class="app">
  {{> Text tag='h1' class="errorTitleText" text= errorObj.ErrorNumber}}
  <main>
    {{> Text tag='p' class="errorDescriptionText" text= errorObj.ErrorDescriptionNumber}}
    {{> Footer}}
  </main>
</div> 
