.errorTitleText {
  color: var(--text-color);
  font-size: 28px;   
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

.errorDescriptionText {
  color: var(--text-color);
  font-size: 16px;    
  margin-bottom: 20px;
  padding: 12px;
  text-align: center;
  width: 100%;
}
